/* # GENERAL # */
/* # NAVIGATION # */
/* # ABOUT # */
/* # PROJECTS # */
/* # SKILLS # */
/* # CONTACT # */
/* ## SOCIAL ICONS ## */
/* # FOOTER # */

/* ****************************************** */

/* ## COLORS ## */
/* #0dab76/rgb(13, 171, 118) - Green */
/* #d76b8d/rgb(215, 147, 101) - Pink */
/* #f2eae6/rgb(242, 234, 230) - Eggshell */
/* #424874/rgb(66, 72, 116) - Navy */
/* #88ccf1/rgb(136, 204, 241) - Baby Blue */

/* ****************************************** */



/* # GENERAL # */

html {
	/*font-family: 'Slabo 13px', serif;*/
	/*font-family: 'Amatic SC', cursive;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Inconsolata';

}

body {
	background-color: #000;
	overflow-x: hidden;
	background-image: url(images/backgrounds/Seamless-flowers-pattern-2.png);
	background-size: 15%;
	background-attachment: fixed;
	/*background-image: url(images/backgrounds/cloth-pattern-2 large.png);*/
	/*background-size: 25%;*/
	/*background-size: 75%;*/
	/*background-image: url(images/backgrounds/Flower-Patterns-3.png);*/
	/*background-size: 15%;*/
	/*background-image: url(images/backgrounds/flowers.png);*/
	/*background-size: 15%;*/
	/*background-image: url(images/backgrounds/geo4.png);*/
	/*background-image: url(images/backgrounds/Para5.png);*/
	/*background-image: url(images/backgrounds/xpurple.png);*/
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lobster', cursive;
}

a {
	text-decoration: none;
	color: #88CCF1;
	transition: all 0.5s ease;
}

a:hover {
	color: #D76B8D;
}

#content{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	transition: background-color 1.5s ease;
	background-color: #000;
}

#content.solid{
	background-color: transparent;
}

	.stencil {
		width: 100%;
		height: 15.6vw;
		border-top: calc(50vh - 13vw) solid #000;
		border-bottom: calc(50vh - 2.6vw) solid #000;
	}



/* # NAVIGATION # */

	nav {
		margin-top: -50px;
		width: 100%;
		height: 50px;
		background-color: #000;
		color: #F2EAE6;
		z-index: 1000;
	}
		nav ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
		}

		nav li {
			flex: 1;
			height: 100%;
			list-style: none;
			text-align: center;
		    line-height: 50px;
		    transition: all 0.7s ease;
		}

		nav li:hover,
		nav li.active {
			background-color: #F2EAE6;
			color: #000;
			cursor: pointer;
		}

		nav a {
			color: #F2EAE6;
			display: block;
		}

		nav a:hover {
			background-color: #F2EAE6;
			color: #000;
		}

	nav.fixed {
		position: fixed;
		top: 0;
		margin-top: 0;
	}

	.section {
		min-height: 100vh;
		width: 100%;
		background-color: #fff;
		padding: 11px 15px 10px;
		box-sizing: border-box;
	}


/* # ABOUT # */

	#about {
		padding-top: 30px;
	}

	.frame.cole {
		background-image: url(images/cole.png);
		background-size: 82%;
		background-repeat: no-repeat;
		background-position: center;
		height: 48.7vw;
		width: 40vw;
		float: left;
		margin: 0 10px 0 0;
	}


/* # PROJECTS # */

#projects {
	position: relative;
}

#projects h1 {
	margin: 20px 0;
}

#projects h1,
#projects h3 {
	text-align: center;
}

#projects .arrow {
	position: absolute;
	top: 200px;
	padding: 2px 6px 3px;
	border-radius: 2px;
	z-index: 10;
}

#projects .arrow:hover {
	background-color: #f2eae6;
}

.fa-angle-left {
	left: 10px;
}

.fa-angle-right {
	right: 10px;
}

.slide {
	height: 0;
	opacity: 0;
	transition: opacity 0.7s ease;
}

.slide:not(#handwriting){
	margin-top: -18.7px;
}

.slide.active {
	height: auto;
	opacity: 1;
	margin-bottom: 20px;
}


#projects .frame {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	margin: auto;
	display: block;
}

	#projects .frame.landscape {
		background-position: 50% 48%;
		height: 51.2vw;
		width: 80vw;
	}

	.frame.handwriting {
		background-image: url(images/handwriting.png);
	}

	.frame.desktop {
		background-image: url(images/desktop.png);
	}

	.frame.mobile {
		background-image: url(images/mobile.png);
		height: 63.76vw;
		width: 50vw;
	}

	#projects .frame.twitterbot {
		background-image: url(images/twitterbot.png);
	}

	.frame.graph {
		background-image: url(images/graph.png);
	}

	.frame.tabber {
		background-image: url(images/tabber.png);
		height: 63.6vw;
		width: 50vw;
	}

	.frame.ttt {
		background-image: url(images/ttt.png);
	}

	.frame.voluntourist {
		background-image: url(images/voluntourist.png);
	}

.links {
	text-align: center;
}



/* # SKILLS # */

#skills {
	padding: 30px 15px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.infoIcon {
	display: inline-block;
	width: 30%;
}

.infoIcon i {
	font-size: 25px;
}

.infoIcon img {
	height: 25px;
}



/* # CONTACT # */

#contact h1 {
	text-align: center;
}

#submitted,
.instructions {
	text-align: center;
}

.ss-required-asterisk {
	color: #ff0000;
}

.ss-q-short,
.ss-q-long {
	width: 100%;
	box-sizing: border-box;
	padding: 2px 5px;
	border-radius: 2px;
	border: 2px inset;
}

input#ss-submit {
	margin: 10px auto;
	display: block;
	border-radius: 3px;
	padding: 3px 6px;
	border-color: #88CCF1;
	border-width: 1px;
	background: #88CCF1;
	background-image: -webkit-linear-gradient(top, #88CCF1, #409fd6);
	background-image: -moz-linear-gradient(top, #88CCF1, #409fd6);
	background-image: -ms-linear-gradient(top, #88CCF1, #409fd6);
	background-image: -o-linear-gradient(top, #88CCF1, #409fd6);
	background-image: linear-gradient(to bottom, #88CCF1, #409fd6);
}

input#ss-submit:hover {
	background: #6cc2f0;
	background-image: -webkit-linear-gradient(top, #6cc2f0, #88CCF1);
	background-image: -moz-linear-gradient(top, #6cc2f0, #88CCF1);
	background-image: -ms-linear-gradient(top, #6cc2f0, #88CCF1);
	background-image: -o-linear-gradient(top, #6cc2f0, #88CCF1);
	background-image: linear-gradient(to bottom, #6cc2f0, #88CCF1);
}

input#ss-submit.disabled {
	pointer-events: none;
	border-color: #c3c6c7;
	background: #c3c6c7;
	background-image: -webkit-linear-gradient(top, #c3c6c7, #a5a7a8);
	background-image: -moz-linear-gradient(top, #c3c6c7, #a5a7a8);
	background-image: -ms-linear-gradient(top, #c3c6c7, #a5a7a8);
	background-image: -o-linear-gradient(top, #c3c6c7, #a5a7a8);
	background-image: linear-gradient(to bottom, #c3c6c7, #a5a7a8);
}



/* ## SOCIAL ICONS ## */

.hidden {
	display: none;
}

.social {
	display: flex;
	flex-direction: row;
	padding: 30px 15px;
	background-color: rgba(0,0,0,0.5);
}

.social div {
	flex: 1;
	text-align: center;
	text-shadow: 0 0 2px #000;
}



/* # FOOTER # */

footer {
	background-color: #000;
	color: #F2EAE6;
	text-align: center;
	padding: 5px;
}

footer p {
	margin: 5px 0;
}

footer i {
	color: #D76B8D;
}






